altgraph==0.17
appdirs==1.4.4
certifi==2021.5.30
chardet==4.0.0
distlib==0.3.2
filelock==3.0.12
idna==2.10
numpy==1.20.3
Pillow==8.2.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
requests==2.25.1
six==1.16.0
urllib3==1.26.5
virtualenv==20.4.7
